@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

/* font-family: 'Ubuntu', sans-serif; */


body {
    background-color: #eee;
}

p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    /* font-weight: bold; */
    text-transform: lowercase;
    letter-spacing: 5px;
    /* VW (Viewport Width) sets the font/text size base on the width of the viewport (aka Browser Window) */
    font-size: 2vw;
    text-align: center;
    border-bottom: 5px solid #ccc;
    padding-bottom: 10px;
    /* Width of the paragraph element (aka the bottom border) */
    width: 47.5%;
    /* Margin Auto centers the paragraph element horizontally inside the body element */
    margin: auto;
}

img {
    /* 22.5 x 4 = 90% */
    width: 22.5%;
    /* box-sizing: border-box;*/
    /* 1.25% x 2 x 4 = 10% */
    margin: 1%;

    /* The float CSS property places an element on the left or right side of its container/parent element allowing text and inline elements to wrap around it. The element is removed from the normal document flow. Also removed the "mystery space" between image elements. (NOTE: This "mystery space" is the actually spaces between image elements in an html file) */
    float: left;

}